# Ignorar ambiente virtual
venv/

# Arquivos Python compilados
__pycache__/
*.py[cod]
*$py.class

# Arquivos de log
*.log

# Configurações do VSCode
.vscode/

# Arquivos de sistema
.DS_Store

# Ignorar checkpoints do Jupyter
.ipynb_checkpoints/